<h1>hello</h1>
<%= simple_form_for([@list,@bookmark]) do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<%= link_to "return to lists ", lists_path %>
